
.container {
  margin-top: auto;
}

.card {
  height: 20em;
}


.slick-mobile {
  .card {
    height: 20em;

    @media screen and ( max-height: 600px ) and (max-width: 500px){
      height: 20em;
    }

    @media screen and ( max-height: 700px ) and (max-width: 700px){
      height: 26em;
    }

    @media screen and ( max-height: 900px ) and (max-width: 700px) {
      height: 37em;
    }
  }
}

.btn-toolbar{
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-long {
  width: 100%;
  margin-bottom: 1em;
  font-size: 22px; 
  line-height: normal;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
}

.tales {
  width: 100%;
}
.carousel-inner{
  border-radius: 1%;
  width:100%;
  max-height: 200px !important;
  margin-top: 30px;
  color: purple;
  background-colour: purple !important;
  .carousel-caption
  {
    top: 15%;
  }
}

.jumbotron-container {
  max-height: 200px !important;
  .jumbotron {
    margin-top: 30px;
    max-height: 200px !important;
  }
}

.add-button {
  margin-top: 20px;
  margin-left: 90%;
  height: 3em;
  width: 3em;
  border-radius: 100%;
  background-color: transparent;
  color: black;
  border: 2px solid #7075A3;
}

.add-button:hover {
  background-color: #7074B2;
  height: 3.1em;
  width: 3.1em;
  right: 0.1em;
  top: 0.1em;
  
}

