
@media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        display: flex;
        // flex: 0 1 calc(70% - 1em);
        height: 1%;
    }
    .input {
      float: none;
      display: block;
      text-align: left;
      width: 80%;
      margin: 1%;
      padding: 14px;
    }
}

@media screen and (min-width: 48px) {

    .card {
        flex: 0 1 calc(25% - 1em);
        height: 1%;
        margin-block: space-evenly;
    }
}

@media screen and (max-width: 600px) {
    .input {
      float: none;
      display: block;
      text-align: left;
      width: 80%;
      margin: 1%;
      padding: 14px;
    }
  }

.search {
  margin-top: 20px;
  justify-content: center;
}
