$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;

.signup-container {
  width: 40%;
  @media screen and (max-width: $sm) {
    width: 100%;
  }
  @media screen and (max-width: $md) {
    width: 80%;
  }
}