.App {
  display: flex;
  color: white;
  background-image: url("./photos/Backgroundv2.png");
  height: 1000px;
}

.Header__Cont{
  height: 90px;
  width: 100%;
  background-color: #f2d16d;
}

.App__Logo {
    float: left;
    padding-top: 25px;
    padding-left: 50px;
}

.PageSwitcher {
  display: flex;
  float: right;
  padding-bottom: 25px;
  padding-top: 27px;
  padding-right: 20px;
}

.PageSwitcher__Item {
  background-color: #f17349;
  color: #4e74a6;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: #f2aa69;
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
