$md: 768px;

.bg {
  background-image: url("../../photos/Background.png");
  background-attachment: fixed;
  background-size: auto;
  background-repeat: no-repeat;
}




.homepage-container {
  width: 100%;
  @media screen and (max-width: $md) {
    width: 100%;
  }
}
