$md: 768px;

.bg {
  background-image: url("../../photos/Background.png");

  background-size: contain;

}




.homepage-container {
  width: 100%;
  @media screen and (max-width: $md) {
    width: 100%;
  }
}
