$md: 768px;

.bg {
  background-size: contain;
  background-image: url("../../photos/Backgroundv2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}




.homepage-container {
  width: 100%;
  @media screen and (max-width: $md) {
    width: 100%;
  }
}
